body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 70px auto auto;
}

#domain_name{
    grid-column-start: 3;
    grid-column-end: 4;
}

#prog_bar{
    grid-column-start: 4;
    grid-column-end: 5;
    align-self: center;
}

#header {
    grid-column-start: 1;
    grid-column-end: 6;
    background-color:green;
    margin-bottom: 10px;
}

#headerTitle{
    align-self: center;
    justify-self: center;
}

